<% 7.times do |index| %>
  <%= turbo_frame_tag "square#{index}" do %>
    <div class="square">
    </div>
  <% end %>
<% end %>

<h1 id='pipo'>PIPOlandia™</h1>

<% 7.times do |index| %>
  <%= turbo_frame_tag "square#{index}" do %>
    <div class="square">
    </div>
  <% end %>
<% end %>
